<div class="form p-5 m-5 border border-success rounded">
  <h1>Ask me a question!</h1>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" class="form-control m-2" placeholder="Type your question...">
    <input type="submit" value="Ask!" class="form-control m-2 btn btn-info">
  </form>
</div>
